  body, h1 {font-family: "Montserrat", sans-serif}
  * {box-sizing: border-box}

  #desc {
    width: 20%;
    float: left;
    margin-left: 40px;
  }

  #nav {
    width: 70%;
    float: left;
    margin-left: 26px;
    margin-top: 20px;
  }

  figure {
    float: left;
  }

  #homepage {
    width: 90%;
    float: center;
    margin: auto;
    overflow: hidden;
  }

  #container {
    width: 90%;
    margin: 0%, auto;
    overflow: hidden;
  }

  #container div a {
    float: center;
    margin: 10px;
    padding: 5px top;
    width: 20%;
    overflow: hidden;
    text-align: center;
    font-size: 50%;
  }

  #container div b {
    float: center;
    margin: 10px;
    padding: 5px top;
    width: 40%;
    overflow: hidden;
    text-align: center;
    font-size: 50%;
  }

  #container div c {
    float: center;
    margin: 10px;
    padding: 5px top;
    width: 15%;
    overflow: hidden;
    text-align: center;
    font-size: 50%;
