  body, h1 {font-family: "Montserrat", sans-serif}
  * {box-sizing: border-box}

  #desc {
    width: 20%;
    float: left;
    margin-left: 40px;
  }

  #nav {
    width: 70%;
    float: left;
    margin-left: 26px;
    margin-top: 20px;
  }

  #nav div {
    width: 48%;
    float: left;
  }

  #container {
    width: 90%;
    margin: auto;
    padding-top: 5px;
    overflow: hidden;
    display: flex;
  }

  #a {
    margin: 20px;
    padding: 5px;
    width: 40%;
  }
  
  #a img {
    width: 100%;
    height: auto;
  }

  #b img {
    width: 90%;
    height: auto;
  }

  #b {
    margin: 10px;
    padding: 5px top;
    width: 20%;
  }

  #c {
    margin: 20px;
    width: 40%;
  }

  #d {
    width: 51.6%;
    padding: 5px;
    margin: auto;
    margin-right: 7%;
    float: right;
    overflow: hidden;
    text-align: justify;
  }
